# Python junk
__pycache__/
*.pyc
*.pyo
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/
.pytest_cache/

# Virtual environments
venv/
.env/
.venv/

# Jupyter checkpoints
.ipynb_checkpoints/

# OS junk
.DS_Store
Thumbs.db
*.coverage

# other files
test_file.py
examples/nsEVDx_run.log

# Python coverage artifacts
.coverage
htmlcov/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Secrets
.env
*.key
*.pem
*.crt

# IDE files
.vscode/
.idea/
